<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EtiquetasMaster.Properties.Settings.catalogosConnectionString"
            connectionString="Data Source=ajusa-sql4.domajusa.es;Initial Catalog=catalogos;Persist Security Info=True;User ID=sa;Password=Pr01nf0434241"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>